<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
    <app-server-element *ngFor="let serverElement of serverElements"
    [serElement] ="serverElement"></app-server-element> <!--WE CAN ALSO USE THE ALISE NAME HERE-->
    </div>
  </div>
</div>
